@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager


<!-- Navigation-->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <!-- Brand/logo -->
        <div class="col-3">
            <img src="~/img/aurora.jpg" height="50px" style="border-radius: 5px;"/>
            <a class="navbar-brand" asp-controller="Admin" asp-action="Index"> | Aurora Bricks</a>
        </div>

        <!-- Navbar links -->
        <div class="navbar col-9" id="navbarResponsive">
            <ul class="navbar-nav ml-auto text-end">
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="ProductsAdmin">Our Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="OrdersListAdmin">View Orders</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="UsersListAdmin">View Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="AboutAdmin">About Me</a>
                </li>
                @* <li class="nav-item">
                    <a asp-page="/Cart" class="nav-link">View Cart</a>
                </li> *@
            </ul>
            <partial name="_LoginPartial" />
        </div>
    </div>
</nav>

<div class="masthead text-center">
    <div class="d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img src="~/img/xavi-cabrera-kn-umdzqdjm-unsplash.jpg" alt="Legos" class="masthead-bg" height="200px" width="100%" />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">@ViewData["Title"]</h1>
    </div>
</div>
