@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "About Aurora";
}

<vc:nav-bar-types user="Customer"></vc:nav-bar-types>
<vc:submenu-types view="Default"></vc:submenu-types>

<body>
    <!-- Icon Divider-->
    <div class="divider-custom">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><img src="~/img/lego brick.png" width="50px" /></div>
        <div class="divider-custom-line"></div>
    </div>

    <div class="content row" style="padding-bottom: 20px;">
        <div class="col-5" style="padding-left: 425px;">
            <img src="~/img/aurora.jpg" width="250px" />
        </div>
        <div class="col-1">
        </div>
        <div class="col-6" style="padding-right: 300px;">
            <p>Aurora Brickwell is a famous collector of Legos™ and a master builder. She has a large social media following where she uses her distributor license with The Lego Group™ to sell products. She takes orders over her various social media channels, in-person at various trade shows, and this website.</p>
            <p>Join Aurora on her journey of becoming a master builder and famous collector of Lego!</p>
            <div class="text-center">
                <a class="btn btn-primary btn-social mx-1" href="#!"><i class="fab fa-fw fa-tiktok"></i></a>
            </div>
        </div>
    </div>
    </div>
</body>
