@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Delete Order";
}
@model Order

<vc:nav-bar-types user="Admin"></vc:nav-bar-types>
<vc:submenu-types view="Default"></vc:submenu-types>

<div class="container text-center">
    <h3>Confirm Deletion of order:</h3>
    <h4>@Model.transaction_ID</h4>
    <form asp-controller="Admin" asp-action="OrdersDeleteAdmin" method="post">
        <input type="hidden" asp-for="transaction_ID" />
        <div class="text-center mt-4">
            <button type="submit" class="btn btn-danger">Delete</button>
            <a class="btn btn-info" asp-controller="Admin" asp-action="OrdersListAdmin">Cancel</a>
        </div>
    </form>
</div>