@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Edit Product";
}

@model Product


<vc:nav-bar-types user="Admin"></vc:nav-bar-types>
<vc:submenu-types view="Default"></vc:submenu-types>

<!-- Icon Divider-->
<div class="divider-custom">
    <div class="divider-custom-line"></div>
    <div class="divider-custom-icon"><img src="~/img/lego brick.png" width="50px" /></div>
    <div class="divider-custom-line"></div>
</div>
<div class="container m-5 p-5">
    <div class="row justify-content-center" style="background-color: #e5ffe5; padding: 20px; border-radius: 10px;">
        <div class="col-md-9">
            <!--Editing a product form-->
            <form method="post" asp-controller="Admin" asp-action="ProductsEditAdmin">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" asp-for="product_ID">Product ID</label>
                            <div class="col-sm-8">
                                <input type="int" asp-for="row_ID" class="form-control" hidden />
                                <input type="int" asp-for="product_ID" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" asp-for="name">Product Name</label>
                            <div class="col-sm-8">
                                <input type="text" asp-for="name" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" asp-for="year">Release Year</label>
                            <div class="col-sm-8">
                                <input type="text" asp-for="year" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" asp-for="price">Price</label>
                            <div class="col-sm-8">
                                <input type="int" asp-for="price" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" asp-for="num_parts">Number of Parts</label>
                            <div class="col-sm-8">
                                <input type="int" asp-for="num_parts" class="form-control" />
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" asp-for="primary_color">Primary Color</label>
                            <div class="col-sm-8">
                                <select asp-for="primary_color" style="border-radius: 5px;" class="form-control">
                                    <option value="" >Select a Color</option>
                                    <option>Black</option>
                                    <option>Blue</option>
                                    <option>Brown</option>
                                    <option>Green</option>
                                    <option>Grey</option>
                                    <option>Orange</option>
                                    <option>Red</option>
                                    <option>Tan</option>
                                    <option>White</option>
                                    <option>Yellow</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" asp-for="secondary_color">Secondary Color</label>
                            <div class="col-sm-8">
                                <select asp-for="secondary_color" style="border-radius: 5px;" class="form-control">
                                    <option value="" >Select a Color</option>
                                    <option>Black</option>
                                    <option>Blue</option>
                                    <option>Brown</option>
                                    <option>Green</option>
                                    <option>Grey</option>
                                    <option>Orange</option>
                                    <option>Red</option>
                                    <option>Tan</option>
                                    <option>White</option>
                                    <option>Yellow</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" asp-for="category">Category</label>
                            <div class="col-sm-8">
                                <select asp-for="category" style="border-radius: 5px;" class="form-control">
                                    <option value="" >Select a Category</option>
                                    <option>Animal</option>
                                    <option>Building</option>
                                    <option>Car</option>
                                    <option>Character</option>
                                    <option>Colorful</option>
                                    <option>DC</option>
                                    <option>Disney</option>
                                    <option>Energy</option>
                                    <option>Farm</option>
                                    <option>Flight</option>
                                    <option>Floral</option>
                                    <option>Food</option>
                                    <option>Game</option>
                                    <option>Harry Potter</option>
                                    <option>Minifig</option>
                                    <option>Motorbike</option>
                                    <option>Part</option>
                                    <option>Person</option>
                                    <option>Personal</option>
                                    <option>Promotional</option>
                                    <option>Star Wars</option>
                                    <option>Structure</option>
                                    <option>Train</option>
                                    <option>Vehicle</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" asp-for="img_link">Link to Image</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="img_link" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="row mb-3">
                            <label class="col-sm-4 col-form-label" asp-for="description">Description</label>
                            <div class="col-sm-10">
                                <input type="text" asp-for="description" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="text-center mt-4 m-2">
                    <button type="submit" class="btn btn-primary btn-lg">Save Changes</button>
                    <a class="btn btn-info text-white btn-lg m-2" asp-controller="Admin" asp-action="ProductsAdmin">Cancel</a>
                </div>
                <br />
                <div asp-validation-summary="All"></div>
            </form>
        </div>
    </div>

</div>
