@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "Add a New Product";
}

@model Product

<!--Adding a product form-->
<vc:nav-bar-types user="Admin"></vc:nav-bar-types>
<vc:submenu-types view="Default"></vc:submenu-types>

<div class="container m-5">
    <form method="post" asp-controller="Home" asp-action="ProductsAddAdmin">
        <label asp-for="row_ID">ID</label>
        <input type="int" asp-for="row_ID" placeholder="Please choose a number greater than 200"/>
        <input type="int" asp-for="product_ID" hidden/>
        <br />
        <label asp-for="name">Product Name: </label>
        <input type="text" asp-for="name" />
        <label asp-for="year">Release Year: </label>
        <input type="int" asp-for="year" />
        <label asp-for="num_parts">Number of Parts: </label>
        <input type="int" asp-for="num_parts" />
        <br />
        <label asp-for="price">Price: </label>
        <input type="int" asp-for="price" placeholder="ex: 60"/>
        <label asp-for="primary_color">Primary Color</label>
        <select asp-for="primary_color">
            <option value="" selected>Select Color</option>
            <option>Black</option>
            <option>Blue</option>
            <option>Brown</option>
            <option>Green</option>
            <option>Grey</option>
            <option>Orange</option>
            <option>Red</option>
            <option>Tan</option>
            <option>White</option>
            <option>Yellow</option>
        </select>

        <label asp-for="secondary_color">Secondary Color</label>
        <select asp-for="secondary_color">
            <option value="" selected>Select Color</option>
            <option>Black</option>
            <option>Blue</option>
            <option>Brown</option>
            <option>Green</option>
            <option>Grey</option>
            <option>Orange</option>
            <option>Red</option>
            <option>Tan</option>
            <option>White</option>
            <option>Yellow</option>
        </select>
        <label asp-for="category">Category</label> 
        <select asp-for="category">
            <option value="" selected>Select Category</option>
            <option>Animal</option>
            <option>Building</option>
            <option>Car</option>
            <option>Character</option>
            <option>Colorful</option>
            <option>DC</option>
            <option>Disney</option>
            <option>Energy</option>
            <option>Farm</option>
            <option>Flight</option>
            <option>Floral</option>
            <option>Food</option>
            <option>Game</option>
            <option>Harry Potter</option>
            <option>Minifig</option>
            <option>Motorbike</option>
            <option>Part</option>
            <option>Person</option>
            <option>Personal</option>
            <option>Promotional</option>
            <option>Star Wars</option>
            <option>Structure</option>
            <option>Train</option>
            <option>Vehicle</option>
        </select>
        <label asp-for="img_link">Link to Image</label>
        <input type="text" asp-for="img_link" />
        <br />
        <label asp-for="description">Description</label>
        <input type="text" asp-for="description" />
        <button type="submit" class="btn-primary btn-lg">Add Product</button>
        <div asp-validation-summary="All"></div>
    </form>
</div>

@* <select asp-for="primary_color">
    <option value="" selected>Select Category</option>
    <option>Animal</option>
    <option>Building</option>
    <option>Car</option>
    <option>Character</option>
    <option>Colorful</option>
    <option>DC</option>
    <option>Disney</option>
    <option>Energy</option>
    <option>Farm</option>
    <option>Flight</option>
    <option>Floral</option>
    <option>Food</option>
    <option>Game</option>
    <option>Harry Potter</option>
    <option>Minifig</option>
    <option>Motorbike</option>
    <option>Part</option>
    <option>Person</option>
    <option>Personal</option>
    <option>Promotional</option>
    <option>Star Wars</option>
    <option>Structure</option>
    <option>Train</option>
    <option>Vehicle</option>
</select> *@