@page
@model AuthLab2.Pages.FraudOrderModel
@{
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>Your order is under review.</p>
<div class="text-center">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Return Home</a>
</div>