@page
@model AuthLab2.Pages.FraudOrderModel
@{
}

@{
    ViewData["Title"] = "Order Received";
}


<body>
    <div class="container" style="max-width: 600px; margin: 50px auto; padding: 20px; background-color: #fff; border-radius: 10px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
        <h1 style="font-size: 24px; color: #333; text-align: center; margin-bottom: 20px;">Your order is under review</h1>
        <h6 style="font-size: 16px; color: #dc3545; text-align: center; margin-bottom: 20px;">We will be in contact with any additional information needed.</h6>

        <div class="text-center">
            <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Customer" asp-action="Index" style="display: inline-block; padding: 10px 20px; text-decoration: none; border-radius: 5px; transition: background-color 0.3s;">Return Home</a>
        </div>
    </div>
</body>

