@page
@model AuthLab2.Pages.FraudOrderModel
@{
}

<h1>Your order is under review, we will be in contact with any additional information needed.</h1>
<div class="text-center">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Return Home</a>
</div>