@page
@model AuthLab2.Pages.FraudOrderModel
@{
}

<h1>Your order is under review, we will be in contact with any additional information needed.</h1>
<p>this is a fradulent order you little criminal. A b*omb is on its way...</p>
<div class="text-center">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Return Home</a>
</div>