@page
@model AuthLab2.Pages.NotFraudOrderModel
@{
}
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<p>Thank you for your purchase!</p>
<div class="text-center">
    <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Return Home</a>
</div>